*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}


body{
  width: 100wh;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: black;
}

.container{
  margin-top: 100px;
  width: 350;
  height: 480px;
  padding: 10px;
  background-color: gray;
}

h1{
  width: 100%;
  display: block;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin: 10px 0px;
}

input{
  width: 255px;
  padding: 15px;
  margin-bottom: 5px;
  text-align: right;
  color: black;
}

input::placeholder{
  color: black;
}

.row{
  margin: 5px;
}

.button{
  height: 60px;
  width: 60px;
}

.button button{
  padding: 20px;
}

.operator{
  background-color: aqua;
}

.equal{
  width: 123px;
}